lib/xml/dump.xsd

<?xml version='1.0'?>
<!-- XSD file for verifying XML files generated by uvm_xml_printer -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='scb'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="queues"/>
      </xs:sequence>
      <xs:attribute name="name" />
    </xs:complexType>
  </xs:element>
  <xs:element name="queues">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="queue" maxOccurs="unbounded">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="items">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" />
    </xs:complexType>
  </xs:element>
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="member_object"/>
      </xs:sequence>
      <xs:attribute name="insertion_index" use="required"/>
      <xs:attribute name="inst" use="required" type="xs:NCName"/>
      <xs:attribute name="producer" use="required" type="xs:NCName"/>
      <xs:attribute name="queue_index" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="member_object">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="null"/>
        <xs:element ref="members"/>
      </xs:choice>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="null">
    <xs:complexType/>
  </xs:element>
  <xs:element name="members">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="member"/>
        <xs:element ref="member_object"/>
        <xs:element ref="member_array"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="member">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="size" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="type" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="member_array">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="values"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="size" use="required" type="xs:integer"/>
      <xs:attribute name="type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="values">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="value">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="member"/>
        <xs:element ref="member_object"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
